*{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    font-family: 'Heebo',sans-serif;
}

#header{
    padding: 40px 0;
}
.header-nav a{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding: 0 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}


/*HERO*/

#hero{
    padding: 80px 0;
}


.hero-title h1{
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
}
.hero-title p{
    width: 497px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding: 30px 0;
}

.hero-title button{
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    transition: .4s;
    cursor: pointer;
}
.hero-title button:hover{
    background: transparent;
    color:black;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*POST*/


#post{
    padding: 80px 0;
    background: #EDF7FA;
}

.post-nav h3{
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    color: #21243D;
}
.post-nav p{
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #00A8CC;
}
.blocks{
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
.block h1{
    font-weight: 700;
    font-size: 26px;
    color: #21243D;
    padding-top: 20px;
}
.block h3 b{
    padding: 0 30px;
}
.block-pne{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    padding: 25px 0;
}
.block p{
    width: 368px;
    height: 117px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.block{
    text-align: center;
}


/*FEATURED*/

#featured{
    padding: 20px 0;
}
.ftr{
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    padding: 40px;
}
/*.future{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
.future-nav h1{
    font-weight: 700;
    font-size: 30px;
    color: #21243D;
}
.future-nav button{
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    margin: 15px 0;
}

.future-nav h2{
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
    padding-bottom: 20px ;
}
.future-nav h5{
    width: 594px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
.future-nav{
    margin: 0 40px;
}
.future{
    margin: 80px 0;
}

.line{
    width: 858px;
    border: 1px solid #E0E0E0;
}

/*FOOTER*/

#footer{
    padding: 80px 0;
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #21243D;
}
.footer-info a{
    font-size: 30px;
    color: #21243D;
    margin: 30px 20px;
}

